<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper fdd">
        <a href="#" class="brand-logo">{{title}}</a>
      </div>
    </nav>
  </div>
</header>
<main>
  <router-outlet></router-outlet>
</main>
