<div class="container">
  <div class="row">
    <h4>El tiempo por ciudades</h4>
    <form class="col s12" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="input-field col s6">
          <input placeholder="Añade ciudad" id="newCity" name="newCity" type="text" [(ngModel)]="newCity" class="validate">
          <label for="newCity">Nueva ciudad</label>
        </div>
      </div>
      <div class="row">
        <button class="btn waves-effect waves-light" type="submit" name="action">Añadir
          <i class="material-icons right">send</i>
        </button>
      </div>
    </form>

  </div>
  <div class="row">
    <div *ngFor="let city of cities" class="col s12 m6 l3">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">{{ city.name }}</span>
          <ul>
            <li>Temp: {{ city.main.temp }} Kelvin</li>
            <li>Pressure: {{ city.main.pressure }} hPa</li>
            <li>Humidity: {{ city.main.humidity }} %</li>
            <li>Temp Min: {{ city.main.temp_min }} Kelvin</li>
            <li>Temp Max: {{ city.main.temp_max }} Kelvin</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="historyExist" class="row">
    <table>
      <thead>
      <tr>
        <th>Date</th>
        <th>City</th>
        <th>Temp</th>
        <th>Pressure</th>
        <th>Humidity</th>
        <th>Temp Max</th>
        <th>Temp Min</th>
      </tr>
      </thead>
      <tbody *ngFor="let city of getHist;">
      <tr *ngFor="let hist of city">
        <td>{{hist.dt*1000 | date:'full'}}</td>
        <td>{{ hist.name }}</td>
        <td>{{ hist.main.temp }}</td>
        <td>{{ hist.main.pressure }}</td>
        <td>{{ hist.main.humidity }}</td>
        <td>{{ hist.main.temp_max }}</td>
        <td>{{ hist.main.temp_min }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
